body {
    margin:0;
    background-color:rgb(255, 246, 198);

}

.div-sopra {
  margin: 0;
  margin-top: -3.5em;
  height: 18em;
  background-color: rgb(247, 191, 142);
  width: 100%;
}
.div-centro {

  margin-top: 2em;
  margin-left:3em ;
 
}
.div-spazio {
  height: 28em;
  background-color: rgb(255, 252, 221);
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(104, 103, 103);
}

.active {
  background-color:rgb(250, 200, 90);
}

img{
  margin-top: 5em;
  width: 400px;
  display: block;
margin-left: auto;
margin-right: auto;
}
.img-logo{
  width: 60px;
}

h1{
  margin-top: 2em;
}
h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
margin-left:75px ;
}
h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left:125px ;
}
h{
  font-family:Bungee-Regular ;
  
}

.img-team13{
  margin-top: 50px;
  align-items:center ;
  border-radius: 50%;
  width: 200px;
  border: 8px solid rgb(187, 187, 187);

}
.img-team24{

  align-items:center ;
  border-radius: 50%;
  width: 200px;
  border: 8px solid rgb(187, 187, 187);

}

p{
  text-align: center;
}


#team{
margin-top: 2em;
font-size: 50px;
}
.fontTeam{
  font-family:Bungee-Regular ;

}